<div class="login-container">
  <div class="login-card">
    <div class="login-header">
      <h1>Welcome Back</h1>
      <p>Please login to your account</p>
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
      <div class="form-group">
        <label for="email">Email Address</label>
        <div class="input-wrapper">
          <mat-icon class="input-icon">email</mat-icon>
          <input
            type="email"
            id="email"
            formControlName="email"
            class="form-control"
            placeholder="Enter your email"
            [class.is-invalid]="submitted && f['email'].errors"
          />
        </div>
        <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
          <span *ngIf="f['email'].errors['required']">Email is required</span>
          <span *ngIf="f['email'].errors['email']">Please enter a valid email</span>
        </div>
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <div class="input-wrapper">
          <mat-icon class="input-icon">lock</mat-icon>
          <input
            [type]="hidePassword ? 'password' : 'text'"
            id="password"
            formControlName="password"
            class="form-control"
            placeholder="Enter your password"
            [class.is-invalid]="submitted && f['password'].errors"
          />
          <button
            type="button"
            class="password-toggle"
            (click)="togglePasswordVisibility()"
            tabindex="-1"
          >
            <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
        </div>
        <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
          <span *ngIf="f['password'].errors['required']">Password is required</span>
          <span *ngIf="f['password'].errors['minlength']">Password must be at least 6 characters</span>
        </div>
      </div>

      <button
        type="submit"
        class="btn-login"
        [disabled]="loading"
      >
        <span *ngIf="!loading">Login</span>
        <span *ngIf="loading">
          <mat-spinner diameter="20" class="spinner-inline"></mat-spinner>
          Logging in...
        </span>
      </button>
    </form>

  </div>
</div>